html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #f5f5f5; 
  font-family: sans-serif;  
}